@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  overflow: hidden;
  /* background-image: url("./images/mercadopago.jpeg"); */
  /* background-image: url("./images/amereloazul.jpg"); */
  background-image: url("./images/copa2022.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  /* background-image: url("./images/dia-das-criancas.jpg"); */
  /* background-image: url("https://http2.mlstatic.com/storage/official-stores-images/megamamute/background201707200226.jpg"); */

}



header {
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgba(0, 238, 255, 0.721), rgb(0, 0, 0));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  color: rgb(255, 255, 255);
  height: 130px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: cyan;
}

a:hover {
  color: cyan;
  font-weight: 600;
  text-decoration: underline;
}

.title-spotlight {
  color: rgb(251, 255, 0);
}

#root {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.content-app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  /* background-image: url("./images/timer.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 470px;
  min-height: 260px;
}

.timer-container,
.dial-pad-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  margin-top: 40px;
  font-size: 3em;
  /* color: rgb(251, 255, 0); */
  /* color: rgb(13, 0, 255); */
  color: rgb(251, 255, 0);
  width: 48%;
}

.dial-pad-buttons {
  width: 150px;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 52, 238);
  /* background-color: rgb(251, 255, 0); */
  padding: 10px 5px;
}

.dial-pad-container button {
  width: 40px;
  height: 40px;
  margin: 2px;
  border: 3px solid rgb(251, 255, 0);
  border-radius: 5px;
  font-size: 1.5em;
}

.dial-pad-container button:hover {
  background-color: rgb(69, 108, 246);
}

#clear {
  font-size: 1em;
  text-align: center;
}

.main-buttons button {
  color: #0400ff;
  bottom: 0px;
  border: none;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(251, 255, 0);
  text-transform: uppercase;
  font-weight: 600;
  width: 40px;
  height: 25px;
}

.dial-mercadopago {
  width: 40px;
  height: 40px;
  background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;

}

.speaks-main {
  display: flex;
  flex-direction: column;
  width: 400px;

}

.speaks-name {
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(0, 145, 255);
}

.speaks-image {
  width: 350px;
}

.button-next-person {
  color: #0400ff;
  bottom: 0px;
  border: none;
  margin: 5px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(251, 255, 0);
  text-transform: uppercase;
  font-weight: 650;
  font-weight: bold;
}

.team-audience {
  width: 800px;

}